body {
	background-color: #1B1A17;
	color: #CCC;
}

canvas {
	display: block;
	position: relative;
	top: 40px;
	margin: 0 auto;
}

.frame-controller {
	width: 40px;
	position: relative;
}

.title {
	color: #CC704B;
}
