body {
	background-color: #888;
	color: #CCC;
}

canvas {
	z-index: 1;
	position: absolute;
	top: 250px;
	left: 450px;
	transform-origin: 0% 0%;
}

canvas#canvas-mg {
	z-index: 2;
	position: absolute;
}
