:root {
	--screen-width: 960px;
	--screen-height: 540px;

	--canvas-outline-width: 1px;
}

body {
	background-color: #93B1A7;
	margin: 0;
	padding: 0;
}

canvas {
	outline: var(--canvas-outline-width) solid #333;
	z-index: 0;
	position: absolute;
	top: calc(50vh - var(--screen-height) / 2);
	left: calc(50% - var(--screen-width) / 2);
}

canvas#prerender-sprites-canvas {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
}

button.copy-to-clipboard {
	position: absolute;
	background-color: #27a8f4;
	outline: 0px;
	border: 0px solid red;
	color: #111;
	top: 64px;
	padding: 0.5rem;
}

.instructions {
	background-color: #111;
	color: #A4A4A4;
	font-family: Courier;
	z-index: 1;
	position: absolute;
	top: calc(50vh + var(--screen-height) / 2);
	left: calc(50% - var(--screen-width) / 2 - 1px);
	width: calc(960px + 2 * var(--canvas-outline-width));
	text-align: center;
	padding: 0.5rem 0;
}
.instructions code {
	color: #EEE;
	background-color: #222;
	padding: 0.25rem;
}
